<div class="leather_binder"> 
  <div class="container paper">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><h3>About Us</h3></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <p>With its homelike atmosphere the Valley Lodge is one of the iconic restaurants on the North Shore.  Started in 1969 the tradition has carried forward from its original owners, Peter and Taki Adamis, and onto the Stavrou family led by Bill in 1997.</p>
        <p>The Stavrou family takes great pride in our ability to serve the North Shore area and our loyal customers.   We hope to continue the same type of family tradition just like we have done so at the Lodge for the past 18 years.</p>
        <p>We promise to deliver the same mouthwatering burgers and great service to keep you coming back for years to come.</p>
        <p><em>Bill Stavrou, Owner<br>George Stavrou, Owner</em></p>
      </div>
      <div class="col-md-4">
        <%= image_tag("vlt-1969.jpg") %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>