<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>About Us</h3></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <p>In 1969, Peter and Taki Adamis purchased a small house that had been converted into a tavern known as Valley Lodge. While no one has lived here in over 70 years, the Valley Lodge continues to preserve the comfortable, homelike atmosphere that has made us Glenview's favorite tavern.</p>
      <p>The Adamis brothers began their dream by serving ribs and burgers. While there have been many changes and additions to the menu through the years, our ribs and burgers are still the Lodge's signature dishes as our belief in quality and consistency has not wavered. In 1977, a large addition enhanced our capacity with the creation of the downstairs seating section. With every detail, great attention was paid to maintaining a warm, inviting atmosphere. Most noticeable is the addition of the wood burning fireplace, similar to the one used in the original house at 2132 Waukegan Road.</p>
      <p>In 1997, current owner Bill Stavrou koined Spero Adamis (son and nephew of the Adamis brothers) to update the menu and decor while staying true to what has made the Valley Lodge a success. Together, they renovated the bar area that has encouraged conversation and the general collegial feel experienced by both the patrons and staff through the years.</p>
      <p>Famous Burgers At the Lodge, we take great pride in our family tradition and experience. We believe our clientele should feel the comfortable and welcomed as soon as they walk through the doors. We enjoy getting to know each customer and allowing you to get to know us. Over time, both are made possible as our staff has been with us for many years and, in some cases decades.</p>
      <p>Since our doors opened in 1969, we have been fortunate to see generations of local families frequent the Lodge. We promise to continue to work at creating a high quality, reliable experience that keeps you coming back for many years to come.</p>
      <p>-</p>
      <p><em>Bill Stavrou, Owner<br>George Stavrou, General Manager</em></p>
    </div>
    <div class="col-md-4">
      <%= image_tag("vlt-1969.jpg") %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
