<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Contact Us</h3></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <address>
        <strong>Glenview, IL</strong><br>
        2132 Waukegan Road<br>
        Glenview, IL 60025<br>
        <abbr title="Phone">tel:</abbr> (847) 724-7440
      </address>
    </div>
    <div class="col-xs-4">
      <address>
        <strong>Hours of Operation</strong><br>
        Monday-Saturday 11a - 11p<br>
        Sunday 4p - 10p
      </address>
    </div>
    <div class="col-xs-4">
      <address>
        <strong>Winnetka, IL</strong><br>
        12345 INSERT ROAD<br>
        Winnetka, IL 60093<br>
        <abbr title="Phone">tel:</abbr> (847) 724-7440
      </address>
    </div>
  </div>
</div>
