<div class="leather_binder">
  <div class="container paper">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><h3>Events</h3></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
      	<p>Valley Lodge Tavern will host weekly events benefitting local and regional charities and the community.</p>
      	<p>If you would like to recommend a charity please contact us at (123) 456-7890.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("http://static.guim.co.uk/sys-images/Travel/Pix/pictures/2011/11/11/1321005491564/Downtown-Cocktail-Bar-007.jpg", :width => "300") %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>