<div class="leather_binder">
  <div class="container paper">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><h3>Events</h3></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <p>Check back regularly for information about the fun and exciting events The Tavern and our first location, The Lodge, is hosting throughout the year.</p>
        <p>Events include:<br>
        <ul>
          <li>- Saturday football events (during NCAA season)</li>
          <li>- Golf outings</li>
          <li>- Silent Auctions</li>
          <li>- Charity drives</li>
          <li>- Monday's Community Day's*</li>
        </ul>
        </p>
        <br>
        <h3>Monday's Community Days:</h3>
        <p>We will select one organization every Monday, nominated by our customers, to donate 10% of our revenue for the day and night of operation.</p>
        <p>The organization does not have to attend or do anything for the donation as long as they are making an impact within our community.</p>
        <p>To register an organization please e-mail alex@valleylodgetavern.com or ask one of our managers next time you are in!</p>
        <br>
        <p>The VLT is happy to give back to our loyal customers.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("http://static.guim.co.uk/sys-images/Travel/Pix/pictures/2011/11/11/1321005491564/Downtown-Cocktail-Bar-007.jpg", :width => "300") %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>