<div class="carousel-container">
  <div class="carousel">
    <div class="tile" style="top:1%; left:0%; width:59%; height:38%; background-image:url('http://img3.onthesnow.com/image/la/99/99146.jpg');">
      <div class="tile-info">
        <p>Enjoy one of our twelve premium draught beers or any of our many bottled beers.</p>
      </div>
    </div>
    <div class="tile" style="top:1%; right:0%; width:40%; height:38%; background-image:url('http://roadtips.typepad.com/.a/6a00d8341cad8253ef0191044485d4970c-320wi');">
      <div class="tile-info">
        <p>Our new Executive Chef knows all of the Valley Lodge staple dishes.</p>
      </div>
    </div>
    <div class="tile" style="top:40%; left:0%; width:30%; height:58%; background-image:url('http://www.asia-bars.com/wp-content/uploads/2011/04/Bar-CoCoon-signature-cocktails004.jpg');">
      <div class="tile-info">
        <p>Come watch the big game on one of our 55" Samsung flatscreen TV's.</p>
      </div>
    </div>
    <div class="tile" style="top:40%; left:31%; width:28%; height:28%; background-image:url('http://2.bp.blogspot.com/-ezqoqhtw7Yg/UZDzV4GilRI/AAAAAAAAK7w/0YFrAB8GFMI/s1600/photo-744.JPG');">
      <div class="tile-info">
        <p>Have a glass of one of our many wines, including two by the bottle.</p>
      </div>
    </div>
    <div class="tile" style="top:40%; left:60%; width:40%; height:28%; background-image:url('http://cdn.cstatic.net/images/gridfs/4fffd6b685216d25780033be/07_2012_STORY_TAVERN-12.jpg');">
      <div class="tile-info">
        <p>Relax next to our cozy fireplace while you enjoy our top-notch food.</p>
      </div>
    </div>
    <div class="tile" style="bottom:2%; left:31%; width:69%; height:29%; background-image:url('http://static.guim.co.uk/sys-images/Travel/Pix/pictures/2011/11/11/1321005491564/Downtown-Cocktail-Bar-007.jpg');">
      <div class="tile-info">
        <p>It's a new look, new logo, but the same great, reliable, and quality service.</p>
      </div>
    </div>
  </div>
</div>