<div class="carousel-container">
  <div class="carousel">
    <div class="tile" style="top:1%; left:0%; width:59%; height:38%; background-image:url('http://img3.onthesnow.com/image/la/99/99146.jpg');">
      <div class="tile-info">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="tile" style="top:1%; right:0%; width:40%; height:38%; background-image:url('http://roadtips.typepad.com/.a/6a00d8341cad8253ef0191044485d4970c-320wi');">
      <div class="tile-info">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="tile" style="top:40%; left:0%; width:30%; height:58%; background-image:url('http://www.asia-bars.com/wp-content/uploads/2011/04/Bar-CoCoon-signature-cocktails004.jpg');">
      <div class="tile-info">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="tile" style="top:40%; left:31%; width:28%; height:28%; background-image:url('http://2.bp.blogspot.com/-ezqoqhtw7Yg/UZDzV4GilRI/AAAAAAAAK7w/0YFrAB8GFMI/s1600/photo-744.JPG');">
      <div class="tile-info">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="tile" style="top:40%; left:60%; width:40%; height:28%; background-image:url('http://cdn.cstatic.net/images/gridfs/4fffd6b685216d25780033be/07_2012_STORY_TAVERN-12.jpg');">
      <div class="tile-info">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="tile" style="bottom:2%; left:31%; width:69%; height:29%; background-image:url('http://static.guim.co.uk/sys-images/Travel/Pix/pictures/2011/11/11/1321005491564/Downtown-Cocktail-Bar-007.jpg');">
      <div class="tile-info">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </div>
</div>
<div class="leather_binder">
  <div class="container paper">
    <div class="row section">
      <div class="col-md-12">
        <h1>Upcoming Events</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate.</p>
        <br>
        <a class="btn btn-default btn-orange" href="#">Add Your Event</a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row section">
      <div class="col-md-12">
        <h1>Sign up for our newsletter</h1>
        <p>We'll send you information about upcoming events, specials, and discounts.</p>
        <br>
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter email address">
            <button type="submit" class="btn btn-default btn-orange">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row section">
      <div class="col-md-12">
        <ul class="footer">
          <li>Glenview, IL</li>
          <li>&copy; 2014 Valley Lodge Tavern</li>
          <li>Wilmette, IL</li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
