<div class="container">
  <div class="row section">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="carousel">
        <!-- Placeholder image -->
        <p style="line-height:400px; text-align:center; width:100%;">Images Go Here</p>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="divider"></div>
  <div class="row section">
    <div class="col-md-12">
      <h1>Upcoming Events</h1>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate.</li>
      </ul>
      <br>
      <a class="btn btn-success" href="#">Add Your Event</a>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row section">
    <div class="col-md-12">
      <h1>Sign up for our newsletter</h1>
      <p>We'll send you information about upcoming events, specials, and discounts.</p>
      <br>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter email address">
          <button type="submit" class="btn btn-default btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row section">
    <div class="col-xs-4">
      <address>
        <strong>Glenview, IL</strong><br>
        2132 Waukegan Road<br>
        Glenview, IL 60025<br>
        <abbr title="Phone">tel:</abbr> (847) 724-7440
      </address>
    </div>
    <div class="col-xs-4">
      <address>
        <strong>Hours of Operation</strong><br>
        Monday-Saturday 11a - 11p<br>
        Sunday 4p - 10p
      </address>
    </div>
    <div class="col-xs-4">
      <address>
        <strong>Winnetka, IL</strong><br>
        12345 INSERT ROAD<br>
        Winnetka, IL 60093<br>
        <abbr title="Phone">tel:</abbr> (847) 724-7440
      </address>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row section">
    <div class="col-md-12">
      <ul class="footer">
        <li>&copy; 2014 Valley Lodge Tavern<li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
