<div id="map_canvas" class="paper"></div>
<div class="container paper">
  <div class="row section">
    <div class="col-sm-6">
      <address>
        <strong>Glenview, IL</strong><br>
        2132 Waukegan Road<br>
        Glenview, IL 60025<br>
        <abbr title="Phone">tel:</abbr> (847) 724-7440<br><br>
        <strong>Glenview Hours</strong><br>
        Monday-Saturday 11a - 11p<br>
        Sunday 4p - 10p
      </address>
    </div>
    <div class="col-sm-6">
      <address>
        <strong>Wilmette, IL</strong><br>
        12345 INSERT ROAD<br>
        Winnetka, IL 60093<br>
        <abbr title="Phone">tel:</abbr> (847) 724-7440<br><br>
        <strong>Wilmette Hours</strong><br>
        Monday-Saturday 11a - 11p<br>
        Sunday 4p - 10p
      </address>
    </div>
  </div>
</div>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map_canvas');
    var latLng = new google.maps.LatLng(42.093581, -87.798507);
    var wilmette = new google.maps.LatLng(42.071176, -87.722745);

    var mapOptions = {
      center: latLng,
      zoom: 12,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);

    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title: 'Glenview'
    });

    var marker2 = new google.maps.Marker({
      position: wilmette,
      map: map,
      title: 'Wilmette'
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
