<div class="container paper">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h3>Menu</h3></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
    	<p>The menu is coming soon! Check back often for updates.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("http://2.bp.blogspot.com/-ezqoqhtw7Yg/UZDzV4GilRI/AAAAAAAAK7w/0YFrAB8GFMI/s1600/photo-744.JPG", :width => "300") %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>