/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/

/* ----------------------------------------- */
/* Reset to minimize browser inconsistencies */
/* ----------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* Import Bootstrap Defaults & Overrides */
/* ------------------------------------- */

@import "bootstrap_configuration";
@import "bootstrap";

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.navbar-default {
  background-color: rgba(23,23,24,1);
  border-color: transparent;
  border: none;
}

.navbar-header {
  width: 100%;
}

.navbar-nav, .navbar-nav > ul {
  font-family: FuturaLT-Book, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
}

.navbar-nav > li {
  width: 20%;
}

.navbar-default .navbar-nav > li {
  border-bottom: 4px solid #000;
}

.navbar-default .navbar-nav > li.active {
  border-bottom: 4px solid rgba(230,93,79,1);
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover {
  color: rgba(230,93,79,1);
  background-color: rgba(23,23,24,1);
}

.navbar-default .navbar-nav > li > a {
  color: #FAFAFA;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a:hover {
  color: rgba(230,93,79,1);
}

.btn-orange {
}

/* --------------------------------------- */
/* Add @font-face directive for good fonts */
/* --------------------------------------- */

@font-face {
  font-family: 'FuturaLT-Bold';
  src: url('FuturaLT-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'FuturaLT-Book';
  src: url('FuturaLT-Book.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Tisa';
  src: url('Tisa.ttf');
  font-weight: normal;
}

body {
  background: url("dark_wood_@2X.png") repeat #000;
  line-height: 1;
  padding-top: 206px;
}

h1, h2, h3, h4, h5 {
  font-family: FuturaLT-Bold, Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 15px;
}

p, a {
  font-family: FuturaLT-Book, Helvetica, sans-serif;
}

i, em {
  font-family: Tisa, Helvetica, sans-serif;
}

iframe {
  width: 100%;
  height: 100%;
}

.logo {
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url("logo.gif") no-repeat center transparent;
  background-size: contain;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

address {
  text-align: center;
}

.wrapper {
  background: rgba(92,64,51,0.3);
  padding: 25px 0;
}

/* -------- */
/* Divider */
/* -------- */

.divider {
  height: 1px;
  margin: 50px 100px;
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #FFF;
}

/* -------- */
/* Carousel */
/* -------- */

.carousel-container {
  width: 100%;
  background: transparent;
  margin-top: -20px;
  margin-bottom: 50px;
  padding: 20px 0;
}

.carousel {
  position: relative;
  max-width: 944px;
  height: 900px;
  margin: 0 auto;
}

.carousel .tile {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;

  -ms-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.carousel .tile:hover {
  z-index: 2;
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}

.carousel .tile:hover .tile-info {
  opacity: 1;
}

.carousel .tile .tile-info {
  display: table-cell;
  opacity: 0;
  width: 80%;
  height: 80%;
  padding: 10%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  background: rgba(0,0,0,0.5);

  -ms-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* ------- */
/* Section */
/* ------- */

.leather_binder {
  background: #000;
  padding: 15px;
  max-width: 944px;
  margin: 0 auto 40px auto;
}

.paper {
  padding: 50px 0;
  background: #fafafa;
  max-width: 914px;
  margin: 0 auto;
  border: 2px solid #000;
}

.section {
  text-align: center;
}

.section h1 {
  font-size: 24px;
}

.section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section.header {
  background: rgba(23,23,24,1);
}

.section .footer {
  float: left;
  width: 100%;
  text-align: center;
  clear: both;
}

.section .footer li {
  float: left;
  width: 33.33%;
  color: #cccccc;
  text-shadow: 1px 1px #ffffff;
}

/* Google Map */

#map_canvas {
  width: 100%;
  height: 600px;
  margin-top: -20px;
  margin-bottom: 25px;
  padding: 0;
}

/* Menu */

.menu-container {
  width: 100%;
  height: 500px;
  margin-top: -20px;
}
